<div>
	{{#if bus}}
	<h5 class="subsection-header">Bus specifications</h5>
	<div class="details-table">
		<div class="details-entry">
			<div class="details-type">Manufacturer</div>
			<div class="details-value">{{bus.manufacturer}}</div>
		</div>
		
		<div class="details-entry">
			<div class="details-type">Model</div>
			<div class="details-value">{{bus.model}}</div>
		</div>
		
		<div class="details-entry">
			<div class="details-type">Battery capacity</div>
			<div class="details-value">{{bus.capacity}} kWh</div>
		</div>
		
		
<!-- 		<div class="details-entry">
			<div class="details-type">Dimensions</div>
			<div class="details-value">12m</div>
		</div>
	
		<div class="details-entry">
			<div class="details-type">Total weight</div>
			<div class="details-value">9000kg</div>
		</div>
		
		<div class="details-entry">
			<div class="details-type">Capacity</div>
			<div class="details-value">76</div>
		</div>
		
		<div class="details-entry">
			<div class="details-type">Advertised range</div>
			<div class="details-value">250km</div> -->
		</div>
	</div>
	
<!-- 	<h5>Battery Specifications</h5>
	<label>Capacity:</label>
	<input name="capacity" type="number" value="{{bus.capacity}}"/> -->
	{{/if}}
</div>