<div class="landing">
	
	<div class="spreadpic-container">
		<img class="spreadpic" src="/assets/img/background/sunset.jpeg" />
		
		<div class="inspirational-text">
			<span class="routey-name">Routey</span> for the better future...	
		</div>
		
		<div class="buttons">
			<div class="button-signin">Sign in</div>
			<div class="button-signup">Sign up</div>
		</div>
	</div>
	<div class="features-blocks">
		<div class="feature">
			<div class="feature-header">
				<span class="feature-icon"></span>
				<span class="feature-header-text">Lorem ipsum</span>
			</div>
			<div class="feature-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</div>
		</div>
		<div class="feature">
			<div class="feature-header">
				<span class="feature-icon"></span>
				<span class="feature-header-text">Dolor</span>
			</div>
			<div class="feature-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</div>
		</div>
		<div class="feature">
			<div class="feature-header">
				<span class="feature-icon"></span>
				<span class="feature-header-text">Sit amet</span>
			</div>
			<div class="feature-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</div>
		</div>
	</div>
</div>