<div class="overview-screen">
	<div id="side-list-container" class="side-list-container init">
		<div class="list-menu">
			<label id="buses-button" class="buses-menu-button menu-button"><i class="fa fa-bus fa-1x"></i></label>
			<label class="charging-menu-button menu-button"><i class="fa fa-bolt fa-1x"></i></label>
		</div>
		
		<div id="side-list" class="side-list nano"></div>
	</div>

	
	<div class="details-view">
	<!--	<div class="top-level-results">
			<label class="infrastructure-cost"></label>
			<label class="emission-reduction"></label>
		</div> -->
		<div id="map" class="map-view"></div>
		<div class="endstop-details"></div>
	</div>
</div>