<div class="project-info">
	<div class="general-info">
		<label class="project-name">Test project</label>
		<label class="project-location">Oslo, Norway</label>
		
		<div class="menu-items">
			<span class="menu-item dropdown">
				<a data-target="#" data-toggle="dropdown" role="button" aria-expanded="false">Simulation<span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li role="presentation">
						<a class="all-routes-simulation" role="menuitem" tabindex="-1">Run simulation for all routes</a>
					</li>
				</ul>
			</span>
			<span class="menu-item"><a href="#results">Results</a></span>
			<span class="menu-item"><a href="#report">Report</a></span>
		</div>
	</div>
	<div class="general-actions">
		<i class="fa fa-cogs fa-2x settings"></i>
	</div>
</div>

<!-- <div class="action-panel"> -->
<!-- 	<div class="add-routes">Add routes</div> -->
<!-- </div> -->