<div class="report-screen">
	<h4 class="electrified-routes-header report-category-header">Electrified routes</h4>
	<div class="routes-list">
		<div>Route 1</div>
		<div>Route 2</div>
		<div>Route 3</div>
		<div>Route 4</div>
		<div>Route 5</div>
	</div>
	
	<h4 class="report-category-header">Electrified stops</h4>
	<div class="stops-list">
		<div>Stop 1</div>
		<div>Stop 2</div>
		<div>Stop 3</div>
		<div>Stop 4</div>
		<div>Stop 5</div>
	</div>
	
	<h4 class="report-category-header">Emission cuts</h4>
	<div class="stops-list">
		<div>Stop 1</div>
		<div>Stop 2</div>
		<div>Stop 3</div>
	</div>
</div>