.remote-sim {
	padding-right: 30px;	
}

.parameters {
	width: 80%;
	margin: 70px;
	margin-bottom: 30px;
	display: flex;
}

.parameters .column {
	width: 300px;
	margin-right: 40px;
}

.parameters .control {
	margin-bottom: 20px;
}

.parameters .runbutton {
	padding-top: 14px;
}

.parameters .control.runbutton .glyphicon {
	font-size: 24px;
	margin-left: 50px;
	height: 37px;
	top: 5px;
}

.parameters .control.runbutton .glyphicon-ok {
	color: green;
}

.parameters .control.runbutton .glyphicon-remove {
	color: red;
}

.parameters .control input[type="text"] {
	display: inline-block;
}

.statistics {
	margin-left: 70px;
	display: flex;
}

.statistics .column {
	margin-right: 15px;
}

.stopdata {
	display: flex;
	margin-left: 70px;
}

.stopdata .stoplist {
	display: table
}

.stopdata .stoplist .list-header {
	display: table-header-group;
}

.stopdata .stoplist .list-header label{
	display: table-cell;
}

.stopdata .stoplist .list-header label:nth-child(4){
	padding-left: 10px;
}

.header {
	margin-left: 70px;
}

.stopdata .stoplist .stop {
	display: table-row;
	cursor: pointer;
	position: relative;
}

.stopdata .stoplist .stop.active {
	background: #EEEEEE;
}

.stopdata .stoplist .stop:hover {
	background: #EEEEEE;
}

.stopdata .stoplist .stop > * {
	display: table-cell;
	padding: 3px 0px;
}

.stopdata .stoplist .stop > input
{
	position: relative;
	top: 2px;
}

.stopdata .stoplist .stop > .stop-name {
	padding-left: 10px;
}

.stopdata .stoplist .stop > .stop-consumption-total,
.stopdata .stoplist .stop > .stop-routes-total {
	text-align: right;
}

.charts {
	width: calc(80% - 10px);
}

.charts .stop-stats,
.charts .combined {
	padding-left: 70px;
}

.charts .combined li.available {
	font-weight: 600;
}

.charts .combined .routes-outcome {
	display: flex;
}

.charts .combined .routes-outcome > * {
	margin-right: 25px;
}

.charts .combined .routes-outcome > .potential-routes > ul {
	color: #999;
}

#stop-powerchart {
	width: 100%;
	height: 600px;
	display: inline-block;
}

#stop-buschart,
#combinedchart:not(.empty) {
	width: 100%;
	height: 300px;
	display: inline-block;
}

#chartdiv {
	width: 100%;
	height: 600px;
	display: inline-block;
}

#route-diagram {
	width: calc(80% - 10px);
	height: 600px;
	display: inline-block;
}


@-moz-keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}
 
@-o-keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}
 
@-webkit-keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}
 
@keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}
 
@-moz-keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}
}
 
 
@-o-keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}
}
 
@-webkit-keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}
}
 
@keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}
}
 
.loading-container,
.loading {
    height: 100px;
    position: relative;
    width: 100px;
    border-radius: 100%;
}
 
.loading-container { margin: 40px auto; }
 
.loading {
    border: 2px solid transparent;
    border-color: transparent #fff transparent #FFF;
    -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
    -moz-transform-origin: 50% 50%;
    -o-animation: rotate-loading 1.5s linear 0s infinite normal;
    -o-transform-origin: 50% 50%;
    -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
    -webkit-transform-origin: 50% 50%;
    animation: rotate-loading 1.5s linear 0s infinite normal;
    transform-origin: 50% 50%;
}
 
.loading-container:hover .loading {
    border-color: transparent #E45635 transparent #E45635;
}
 
.loading-container:hover .loading,
.loading-container .loading {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
 
#loading-text {
    -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
    -o-animation: loading-text-opacity 2s linear 0s infinite normal;
    -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
    animation: loading-text-opacity 2s linear 0s infinite normal;
    color: #ffffff;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 10px;
    font-weight: bold;
    margin-top: 45px;
    opacity: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 100px;
}