<div>
	<label class="custom-label">Select solutions</label>
	<div class="form-group">
	
	<select class="bus-select selectpicker">
		<option value="-1">Select bus model</option>
		{{#each buses}}
			<option value="{{this.id}}">{{this.model}} {{this.capacity}} kWh</option>
		{{/each}}

	</select>
	<select class="charger-select selectpicker">
		<option value="-1">Select charger model</option>
		{{#each chargers}}
			<option value="{{this.id}}">{{this.manufacturer}} {{this.model}} {{this.power}} kW</option> 
		{{/each}}
	</select>
	</div>
	
	<div class="form-group">
		<div>
			<label class="custom-label">Charging time</label>
			<div class="slider-wrapper">
				<div class="slider-container"><div class="charging-time"></div></div>
				<label class="time-label">10 seconds</label>
			</div>
		</div>
		<div>
			<label class="custom-label">Select date</label><br/>
			<input type="text" class="simulation-date input-field" placeholder="Select date"/>
		</div>
	</div>
</div>