header.app-menu {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  z-index: 1010;
  
  .project-info {
    display: flex;
    background: black;
    color: white;
    height: 40px;
    line-height: 40px;
    
    .general-info {
    	width: 100%;
    }
    
	.general-actions {
		width: 95px;
		min-width: 95px;
	}
  }
  
  .action-panel {
  	.add-routes {
	  height: 40px;
	  width: 200px;
	  border: none;
	  background: none;
	  font-weight: 700;
	  font-size: 20px;
	  cursor: pointer;
	  display: inline-block;
	  text-align: center;
  	}
  }
}