#stop-info {
	.modal-body {
		.charging-parameters {
			  display: flex;
  			  justify-content: space-around;
		}
		
		#stop-consumption-chart {
			height: 300px;
		}
	}
}

.simulation-container {
	padding-top: 10px;
	padding-left: 30px;
  	padding-right: 30px;
  	padding-bottom: 40px;
  	
  	
	.defaults-selection {
		padding-bottom: 20px;
 		border-bottom: 1px solid rgba(0,0,0,0.2);
		.form-group {
			display: flex;
		}
		
		.route-details-body {
			display: flex;
			justify-content: space-between;

			
			.route-names {
				display: flex;
				align-items: center;
				margin: 10px 0 25px;
				
				.route-name {
					font-size: 26px;
					background: @main-color;
					padding: 3px 0px;
					margin-right: 30px;
					color: white;
					width: 70px;
					border-radius: 3px;
					text-align: center;
				}
				
				.route-ends {
					font-size: 20px;
				}
			}
			
			.detail-tables {
				display: flex;
				
			}
			
			.route-details-table {
				margin-bottom: 20px;
				margin-right: 100px;
				
				.details-entry {
					display: table-row;
					
					> * {
						display: table-cell;
					}
					
					> .details-type {
						padding-right: 30px;
						font-weight: 600;
					}
					
					&.last {
						margin-bottom: 20px;
					}
				}
			}
			
			#route-map-view {
				height: 240px;
				width: 600px;
				background-image: url('https://www.somersethouse.org.uk/images/mi/visit/map.jpg');
			}
		}		
		

	}	
	
		.simulation-parameters {
			.notification-well {
				display: flex;
				i {
					margin-right: 40px;
				}
			}
			
			.equip-selection {
				display: flex;
				
				.well-well {
				  width: 400px;
				  height: 300px;
				  border-right: 1px solid #ddd;
				  
				  > * {
				  	width: 80%;
				  }
				  
				  select {
				  	display: none;
				  }
				  
				  .dropdown-toggle {
				    text-transform : none;
				  }
				}
				
				.route-path-visualization-container {
					width: 100%;
					
					label {
						margin-left: 50px;
					}
					
					.route-path-visualization {
						width: 100%;
					}
				}
			}
		}
		
		.simulation-results {
			position: relative;
			
			#simulation-result-chart {
				height: 500px;
				position: relative;
				
				.prompt {
					font-size: 24px;
					color: #AAA;
					margin: 0 auto;
					margin-top: 50px;
				}
			}
			
			.loading {
				margin-top: 200px;
			}
		}
}