#stop-info {
	.modal-body {
		.charging-parameters.flex-box {
			justify-content: space-around;
			
			
			.parameter {
				width: 220px;
			}
			
			.charging-time-wrapper {
				  padding-top: 9px;
			}
		}
		
		select {
			display: none;
		}

		#stop-consumption-chart {
			height: 300px;
		}
	}
}

#simulation-parameters {
	.form-group {
		display: flex;
		
		> div {
			margin-right: 70px;
		}
		
		.simulation-date {
			width: 220px;
		}
	}
	
	.slider-wrapper {
		
		width: 220px;
		.slider-container {
			width: 100%;
		}

		.time-label {
			margin-left: 10px;
		}
	}
}

.simulation-container {
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 40px;
	
	.defaults-selection {
		padding-bottom: 20px;
		
		.route-details-body {
			display: flex;
			justify-content: space-between;
			
			.route-names {
				display: flex;
				align-items: center;
				margin: 10px 0 25px;
				.route-name {
					font-size: 26px;
					background: @main-color;
					padding: 3px 0px;
					margin-right: 30px;
					color: white;
					width: 70px;
					border-radius: 3px;
					text-align: center;
				}

				.route-ends {
					font-size: 20px;
				}
			}

			.detail-tables {
				display: flex;
			}

			.route-details-table {
				margin-bottom: 20px;
				margin-right: 50px;
				
				.details-entry {
					display: table-row;
					> * {
						display: table-cell;
					}

					> .details-type {
						padding-right: 30px;
						font-weight: 600;
					}

					&.last {
						margin-bottom: 20px;
					}
				}
			}

			#route-map-view {
				height: 540px;
				width: 80%;
			}
		}

		.equip-selection {
			display: flex;
			
			.well-well {
				width: 400px;
				height: 250px;

				label {
					display: block;
				}

				> * {
					width: 80%;
				}



				select {
					display: none;
				}

				select + .bus-select {
					width: 100%;
				}
			}

			.route-path-visualization-container {
				width: 100%;
				
				.charger-header {
					margin-left: 40px;
					i {
						color: @main-color;
					}
				}

				.route-path-visualization {
					width: 100%;
				}
			}
		}
	}

	.simulation-results {
		position: relative;

		ul {
			border-bottom: 1px solid #ddd;
		}
		
		.form-group {
			margin-left: 25px;
			
			.simulation-date {
				.input-field ();
				box-shadow: none;
				width: 150px;
			}
		}
		
		.date-selection {
			margin-left: 58px;
		}
		
		.feasibility-header {
			margin-left: 58px;
		}
		
		.route-summary {
			margin-bottom: 40px;
			
			.summary-entry {
 				  display: table-row;
			}
			
			label {
				display: table-cell;
				font-size: 24px;
				
				&.summary-label {
 				  padding-left: 35px;
				}
				
				&.summary-value {
					padding-left: 20px;
				}
			}
		}
		
		
		
		li.tab {
			a[href="#feasibility"].failed {
			color: @main-color;
			
				&:hover {
					box-shadow: inset 0 -2px 0 @main-color;
				}
			}
			
			&.active {
				a[href="#feasibility"].failed {
					box-shadow: inset 0 -2px 0 @main-color;
				}
			}
		}
				
		#cost-chart {
			height: 300px;
			position: realtive;
		}
		
		#emissions-chart {
			height: 300px;
			position: realtive;
		}

		#simulation-result-chart {
			height: 400px;
			position: relative;
			
			.prompt {
				font-size: 24px;
				color: #AAA;
				margin: 0 auto;
				margin-top: 50px;
			}
		}

		.loading {
			margin-top: 200px;
		}
	}
}

