@import 'endstop-styles.less';
@import 'route-selection.less';
@import 'route-stats.less';
@import 'lib/nanoscroller.less';
@import 'configuration.less';
@import 'menu.less';
@import 'all-routes-table.less';
@import 'added-routes-list.less';
@import 'simulation.less';
@import 'solutions-view.less';

body {
	margin-top: 0px !important;
	padding-top: 0px !important;
	height: 100%;
	
	.modal {
		z-index: 4040;
	}
	
	.view-content {
		height: 100%;
	}
	
	.evade-header {
		margin-top: 40px;
	}
	
	.details-table {
		margin-bottom: 20px;
		
		.details-entry {
			display: table-row;
			
			> * {
				display: table-cell;
			}
			
			> .details-type {
				padding-right: 30px;
			}
		}
	}
}
