<div>
	<div class="add-routes">Add routes</div>
</div>
<div class="nano">
	<div class="accordion nano-content" id="root-accordion">
		{{#each routes}}
		<div class="accordion-group root-level route-list-item" data-routeid="{{this.routeId}}">

			<div class="accordion-heading">
				<a class="accordion-toggle collapsed"
					data-toggle="collapse" data-parent="#root-accordion"
					data-target="#route-{{this.routeId}}"> 
					<span class="route-name">{{this.name}}</span>
					<span class="route-ends">{{this.longName}}</span>
				</a>
			</div>

			<!-- First level body -->
			<div id="route-{{this.routeId}}" class="accordion-body collapse">
				<a href="#/simulation/{{this.routeId}}">Simulate</a>
			</div>
		</div>
		{{/each}}
	</div>
</div>
</div>