<div class="flex-box">
	<div class="charging-parameters">
		<div class="parameter">
			<h5>Charger</h5>
			<select class="available-chargers form-control" name="available-chargers">
				<option value="-1">Select charger</option>
				{{#each chargerTypes}}
				<option value="{{this.id}}">{{this.manufacturer}} {{this.model}} {{this.power}} kW</option> 
				{{/each}}
			</select>
		</div>
		<div class="parameter">
			<h5>Charging times</h5>
			<div class="charging-time-wrapper">
				<div class="charging-time-list">
					
				</div>
			</div>
		</div>
	</div>
	<div class="chart-wrapper">
		<h5 class="peak-demand-label">Peak demand: <span class="peak-demand-value"></span></h5>
		<div id="stop-consumption-chart" class="stop-consumption"></div>
	</div>
</div>